.select_form {
    margin-bottom: 10px;
    margin-top: 20px;
}

#actions_name {
    height: 30px;
    width: 125px;
}




/*左侧模型表列表*/
.left_modellist {
    width: 18%;
    height: 100%;
    position: fixed;
    top: 70px;
    left: 0px;
    background: rgba(255, 255, 0, 0.7);
}
.model_list {
    width: 100%;
    height: 50px;
    font-size: 20px;
    padding-left: 20px;
    border-bottom: solid 1px white;
}
.model_list a {
    line-height: 50px;
}


/*右侧数据展示*/
.right_showdata {
    position: fixed;
    top: 80px;
    left: 19%;
    margin-top: 10px;
    height: 500px;
    overflow-y: scroll;
}
.search-input {
    margin-bottom: 10px;
}

.page-area {
    margin-left: 20px;
}
.tag_area {
    height: 200px;
    overflow-y: scroll;
}



